.container {
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    background-color: #EEEEEF;
}
.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #10BBD5;
    position: fixed;
    top: 0;
    z-index: 10;
}
.hdr_top {
    display: flex;
    justify-content: space-between;
    margin: 14px 52px;
    height: 40px;
    align-items: center;
    text-align: center;
}
.hdr_top_logo_img {
    width: 26px;
    height: 28px;
}
.hdr_top_logo {
    display: flex;
    color: #F8FDFE;
    font-family: "Cabin", serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.hdr_top_cart_div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hdr_top_price {
    color: #F8FDFE;
    font-family: "Cabin", serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
.hdr_top_cart {
    height: 40px;
    width: 40px;
    background-image: url("/images/icon/cart_icon.png");
    background-size: 40px;
    background-color: #10BBD5;
    background-repeat: no-repeat;
    color: #000;
    font-family: "Cabin", serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px; /* 83.333% */
    padding-left: 13px;
    padding-bottom: 6px;
}
.hdr_nav {
    display: flex;
    justify-content: space-between;
    background: #FFF;
    padding: 4px 52px;
}
.hdr_btm_title, .hdr_menu_item {
    color: #000;
    font-family: "Cabin", serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
.hdr_nav_menu {
    display: flex;
    gap: 40px;
}
.main {
    margin: 100px 56px 120px;
    padding-top: 32px;
}
.mn_title {
    color: #1F1F1F;
    font-family: "Cabin", serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; /* 125% */
    margin-bottom: 23px;
}
.mn_product_list {
    display: grid;
    width: 1296px;
    grid-template-columns: repeat(4, 306px);
    grid-template-rows: repeat(3, 512px);
    grid-column-gap: 24px;
    grid-row-gap: 32px;
    border-top: 1px solid #A8A8A8;
    padding-top: 24px;
}
.product_card {
    display: flex;
    flex-direction: column;
    padding: 32px;
    border: 1px solid #A8A8A8;
    background-color: #FFFFFF;
    position: relative;
}
.product_mark {
    display: flex;
    gap: 4px;
    position: absolute;
}
.mark_hit, .mark_new, .mark_sale {
    padding: 4px 8px;
    border-radius: 4px;
    background: var(--mark_bcg, #4200FF);
    color: #F8FDFE;
    text-align: center;
    font-family: "Cabin", serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    align-content: center;
}
.mark_new {
    --mark_bcg: #AF39E7;
}
.mark_sale {
    --mark_bcg: #EA33C0;
}
.book_img {
    width: 178px;
    height: 280px;
    margin-left: 32px;
}
.book_name {
    overflow: hidden;
    color: #1F1F1F;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: "Cabin", serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 140% */
    margin-top: 16px;
}
.book_author {
    overflow: hidden;
    color: #8E8E8E;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: "Cabin", serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    border-top: 1px solid #A8A8A8;
}
.product_price, .old_price {
    color: var(--price_clr, #E90000);
    font-family: "Cabin", serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 133.333% */
    margin-top: 8px;
}
.add_btn, .end_up_btn {
    border-radius: 4px;
    background: var(--buy_btn_clr, #4C394E);
    padding: 8px 24px;
    color:#F8FDFE;
    text-align: center;
    font-family: "Cabin", serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    margin-top: 16px;
    transition: 0.5s;
}
.end_up_btn {
    --buy_btn_clr: #4D762D;
}
.add_btn:hover {
    --buy_btn_clr: #744978;
}
.end_up_btn:hover {
    --buy_btn_clr: #6DB236;
}
.old_price {
    --price_clr: #8E8E8E;
    text-decoration: 1px line-through;
    margin-left: 18px;
}
.footer {
    display: flex;
    justify-content: space-between;
    padding: 32px 52px;
    background-color: #4C394E;
}
.ftr_copyright, .ftr_all_rig_res {
    color: #F8FDFE;
    font-family: "Cabin", serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
.ftr_copyright:before {
    content: '© ';
}
.chat {
    width: 64px;
    height: 64px;
    background-color: #10BBD5;
    border-radius: 50%;
    background-image: url("/images/icon/chat_icon.png");
    background-size: 50px;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.5s;
    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 10;
}
.chat:hover {
    background-image: url("/images/icon/chat_icon_hvr.png");
    transform: rotate(12.05deg);
    background-size: 60px;
}

